<div class="card mt-3">
    <div class="d-flex justify-content-between aling-items-center p-3 bg-info">
        <h1 class="text-white"> cursos</h1>
        <button class="btn btn-primary" [routerLink]="['novo']">novo curso</button>
    </div>

    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>curso</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let curso of curso">
                    <td> {{ curso.id }} </td>
                    <td> {{ curso.nome }} </td>
                    <td>
                        <span class="d-flex justify-content-end">
                            <button type="button" class="btn btn-primary me-2" (Click)="Editar(curso.id)">atualizar</button>
                            <button type="button" class="btn btn-danger" (Click)="Exlcuir(curso.id)">deletar</button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
